Source: ros-indigo-korg-nanokontrol
Section: misc
Priority: extra
Maintainer: Austin Hendrix <namniart@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/korg_nanokontrol
Standards-Version: 3.9.2

Package: ros-indigo-korg-nanokontrol
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pygame, ros-indigo-rospy, ros-indigo-sensor-msgs
Description: ROS driver to use the Kork NanoKontrol MIDI device as a joystick.
