Source: ros-groovy-korg-nanokontrol
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://ros.org/wiki/korg_nanokontrol
Standards-Version: 3.9.2

Package: ros-groovy-korg-nanokontrol
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-rospy,ros-groovy-sensor-msgs,python-pygame
Description: ROS driver to use the Kork NanoKontrol MIDI device as a joystick.
